.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #0b0b0b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  background-color: black;
  color: white; 
  height: 100px; 
  text-align: right;
  padding: 25px; 
  font-family: 'Courier New', Courier, monospace;
}

.homePage{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  color: #282c34;
}
 body{
  background-color: #E1DCDA;
  font-family: 'Courier New', Courier, monospace;
 }
 .test{
  color: black;  
  padding: 50px; 
  border-radius: .2rem;
 }
 .alsoPopular{
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px; 
 }
 .homePage{
  text-decoration: none;
  color: black; 
  height: 350px; 
  width: 500px;
 }
 .homePage:hover{
  color: gray; 
 }
 .card{
  width: 400px; 
  height: 600px; 
  position: relative; 
  overflow: hidden;  
  font-size: 18px;
  font-weight: 600;
 }
 a{
  color: black; 
  text-decoration: none;
 }
 .link{
  height: 425px;
  width: 625px; 
 }